torchmetrics
torchinfo
tf-keras
tensorflow
transformers
accelerate
datasets
einops
numpy
pandas
scikit-learn
scipy
wandb
peft
matplotlib
peft
biopython
biotite
seaborn
matplotlib
pauc
sentencepiece
IPython
wordcloud